<div class="row small-up-2 medium-up-3">
  <div class="column">
    <h4><%= @article.title %><h4/>
    <h6><%= @article.description %></h6>
    <div class="radius secondary label">
      <h4><%= link_to "Article source!", @article.url  %></h4>
    </div>
  </div>
</div>
