.like-btn{
  color: white;
  float: right;
  margin-right: 4%;
  margin-top: 1%;
  cursor: pointer;
  position: absolute;
  bottom: 1;
  right: 0;
  margin-right: 34%;
  padding-top: .8%;
}

.like-btn-true{
  color: white;
  float: right;
  margin-right: 4%;
  margin-top: 1%;
  position: absolute;
  right: 0;
  margin-right: 34%;
  cursor: pointer;
  padding-top: .8%;
}

.scroll-like-btn{
  color: white;
  margin-right: 4%;
  margin-top: 1%;
  cursor: pointer;
  bottom: 1;
  right: 0;
  margin-right: 0%;
  padding-top: .8%;
}

.scroll-like-btn-true{
  color: white;
  margin-top: 1%;
  right: 0;
  margin-right: 38%;
  cursor: pointer;
  padding-top: .8%;
}

.side-nav{
  margin-top: 4.7%;
  margin-left: 2%;
  float: left;
  position: fixed;
  border: 2px solid black;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 1em;
  background-color: #FEFEFE;
  max-width: 18em;
}

.like-count{
  color: black;
  font-size: 28px;
  padding-left: 5px;
}

.comment-count{
  color: black;
  font-size: 28px;
  padding-left: 10px;
}

.scroll-like-count{
  color: black;
  font-size: 28px;
  padding-left: 5px;
}

.scroll-comment-count{
  color: black;
  font-size: 28px;
  padding-left: 10px;
}

.comment-btn{
  color: white;
  margin-top: 1%;
  cursor: pointer;
  position: absolute;
  bottom: 1;
  right: 0;
  margin-right: 38%;
  padding-top: .8%;
}

.comment-form{
  margin-top: 1em;
  display: block;
}

.collapse-arrow{
  cursor: pointer;
  margin-right: 48%;
  margin-left: 48%;
  padding-left: 48%;
}

#card-article{
  padding-bottom: 2%;
}
