#article-card{
  width: 35em;
  text-align: center;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 3%;
}

.card{
  border: 2px solid black;
  padding: 1em;
  padding-bottom: 1.7em;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.card:hover{
  background-color: #EAF5FC;
}

.card-divider{
  border: 3px solid black;
  border-top: none;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #FFFFFFFF;
}

.index_source{
  text-align: left;
  margin: 0;
  background-color: #FFFFFFFF;
  border: 3px solid black;
  border-bottom: none;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding-left: 1em;
}

.index_source:hover{
  background-color: #FFFFFF;
}

img{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.groups-index{
  margin-top: 0%;
}

#featured-group-tile{
  float: right;
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

#your-group-tile{
  float: left;
  width: 50%;
  padding-right: 5%;
  padding-left: 5%;
 }

#featured-groups-title{
  margin-left: 15rem;
}

#your-groups-title{
  margin-left: 4rem;
}

.follow-btn{
  color: white;
  float: right;
  margin-right: 2%;
  background-color: #3778B5;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: 1%;
  cursor: pointer;
}

.follow-btn-true{
  background-color: #0b3b7a;
  color: white;
  float: right;
  margin-right: 2%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: 1%;
  cursor: pointer;
}

.index-search{
  position: fixed;
  top: 10;
  left: 83%;
  margin: 0;
}

#index-search{
  background-color: #E8ECF0;
  padding: 0
}

.welcome{
  margin-top: .5%
}

#index-id-search{
  margin-top: 0;
  padding-top: 0;
}

.logo-image{
  margin-right: 50.5em;
}
