.scroll {
  width: 500px;
  margin: auto;
  background-color: #EAF5FC;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.scroller {
  margin: auto;
  height: 600px;
  width: 450px;
  overflow: auto;
}

.settings{
  background-color: #EAF5FC;
  height: 150px;
  width: 175px;
  font-size: 25px;
  padding: 10px;
  margin-top: 1em;
  margin-right: 0.25em;
  position: absolute;
  right: 0;
  border-radius: 25px;
  overflow-y: scroll;
}

.item {
  margin: 30px 0;
}
.scroll2 {
  width: 500px;
  margin: auto;
  background-color: #EAF5FC;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#all-groups-scroll{
  margin: auto;
}

.user-groups{
  margin-top: 2em;
}

#your-liked-title{
  margin-top: 2em;
  margin-left: 2em;
}

.all-groups{
  margin: auto;
}

.item3{
  padding-top: 0;
}
