.scroll {
  width: 500px;
  margin: auto;
  background-color: #EAF5FC;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.scroller {
  margin: auto;
  height: 600px;
  width: 450px;
  overflow: auto;
}

.item {
  margin: 30px 0;
}
.scroll2 {
  width: 500px;
  margin: auto;
  background-color: #EAF5FC;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#all-groups-scroll{
  margin-left: 22em;
  margin-top: 2em;
  margin-bottom: 5em;
}

.user-groups{
  margin-top: 2em;
}

#your-liked-title{
  margin-top: 2em;
  margin-left: 2em;
}

.all-groups{
  margin-right: 10em;
  margin-bottom: 5em;
}

.item3{
  padding-top: 0;
}
